* {
    font-family: 'Roboto', sans-serif;
}

/* Back Ground Color */
html body {
    background-color: rgb(230, 230, 230);
}
/* Back Ground Color */
/* NavBar */
nav {
    background-color: rgba(167, 201, 212, 80);
    border-radius: 0 0 5px 5px;
}

.navbar-brand{
    margin-left: 10%;
}

.navbar-brand img {
    width: 80%;
}

.login{
    margin-right: 10%;
}

.navbar-toggler {
    margin-right: 10%;
}

.nav-item {
    margin: 5px;
}
/* NavBar */
/* Footer */
.footer p{
    margin-left: 10%;
    color: grey;
    font-size: 70%;
    margin-top: 15px;
}
/* Footer */
/* Article */
.article {
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px 0px #999;
}

.article h1, h2, #googleMap {
    margin-bottom: 20px;
}

.article h1{
    border-bottom: solid rgb(200, 200, 200) 1px;
    padding-bottom: 10px;
    color: rgb(127, 161, 172);
}

.article h2 {
    font-weight: bold;
    font-size: 25px;
}

.article h1 .h1-border{
    font-weight: bold;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid 3px rgb(127, 161, 172);
}
/* Article */
/* Google Map */
#googleMap{
    width: 100%;
    height: 400px;
}
/* Google Map */

/* members */
.position {
    background-color: white;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 3px;
}
.human {
    margin: 10px;
    overflow: hidden;
}
#info {
    float: left;
    width: 435px;
    height: 175px;
}
#interest {
    float: right;
    width: 550px;
    height: 175px;
}
.human img {
    float: left;
}
.photo {
    width: 140px;
    height: 175px;
}
.position h2 {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    padding-left: 10px;
    margin: 0;
    background-color: rgb(211, 237, 245);
    color: black;
    line-height: 52px;
    height: 52px;
}

.position li {
    margin: 13px 0;
    margin-left: 30px;
}
.name {
    margin-top: 5px !important;
    font-weight: bold;
    font-size: 20px;
}
#info li {
    word-break: break-all;
}
.position ul {
    list-style: square;
    float: left;
}
/* members */

/* notices */
/* .notices-section:first-child {
    margin: 100% 5% 0% 5%;
    padding: 1% 2% 1% 2%;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
} */

.notices-section {
    margin: 0% 5% 0% 5%;
    padding: 1% 2% 0% 2%;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    /* border: 1px solid black; */
}

/* .post-simbol {
    float: left;
    border: 1px solid red;
    margin: 0%;
    width: 10%;
} */

.post-content {
    float: right;
    border: 1px solid yellow;
} */

.post-title {
    float: left;
    font-size: 140%;
    /* border: 1px solid green; */
}

.post-title a{
    color: rgb(24, 130, 146);
}

.post-date {
    float: right;
    color: rgba(0, 0, 0, 0.411);
    font-size: 60%;
    /* border: 1px solid blue; */
}

.post-summary {
    clear: both;
    font-size: 70%;
    /* border: 1px solid pink; */
}

hr {
    color: rgba(0, 0, 0, 0.411);
    padding: 0%;
    margin: 1% 0% 0% 0%;
}

/* notices */