* {
    font-family: 'Nanum Gothic', sans-serif;
}

/* Back Ground Color */
html body {
    background-color: rgb(230, 230, 230);
}
/* Back Ground Color */
/* NavBar */
nav {
    background-color: rgba(167, 201, 212, 80);
    border-radius: 0 0 5px 5px;
}

.navbar-brand{
    margin-left: 10%;
}

.navbar-brand img {
    width: 80%;
}

.login{
    margin-right: 10%;
}

.navbar-toggler {
    margin-right: 10%;
}
/* NavBar */
/* Footer */
.footer p{
    margin-left: 10%;
    color: grey;
    font-size: 70%;
    margin-top: 15px;
}
/* Footer */
/* Article */
.article {
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px 0px #999;
}

.article h1{
    border-bottom: solid rgb(200, 200, 200) 1px;
    margin: 10px;
    padding-bottom: 10px;
    color: rgb(127, 161, 172);
}

.article p{
    padding: 10px;
}

.article h1 .h1-border{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: solid 3px rgb(127, 161, 172);
}
/* Article */